<%#
  video_url = /^.*(youtu\.be\/|vi?\/|u\/\w\/|embed\/|\?vi?=|\&vi?=)([^#\&\?]*).*/.match(video_post.link)[2]
%>
<div class="post_card">
  <h2>
    <a href="<%= admin_post_path(video_post) %>">
      <%= video_post.post_title %>
    </a>
  </h2>
  <p><%= video_post.description %></p>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/<%# video_url %>"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>
</div>
