<p style="color: green"><%= notice %></p>

<h1>Профили</h1>


<div class= "profile" id="profiles">
  <%= link_to "New profile", new_profile_path %>

    <% @profiles.each do |profile| %>
      <%= link_to profile, class: "profile_card" do %>
          <%= render profile %>
      <% end %>
    <% end %>
</div>

