<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>
<%= link_to "New profile", new_admin_profile_path %>
<div id="profiles">
  <% @profiles.each do |profile| %>
  <%= link_to [:admin, profile], class: "profileCard" do %>
    <%= render profile %>
    <% end %>
  <% end %>
</div>

