<div class="section O_Open">
  <img class="A_Splash" src="/uploads/splash.png" alt="">
  <img class="A_Splash Mobile" src="/uploads/splashMobile.png" alt="">
  <img class="A_Line" src="/uploads/line.png" alt="">
  <div class="A_Button">Получить</div>
</div>
<div class="section O_ADCInfo">
  <div class="TextBoxButtons">
    <div class="W_4ColumnBlock">
      <h2>4 года, 200+ студентов —
        команда, которую объединяет 
        страсть к&nbsp;дизайну</h2>
      <p>Mы — ADC оффер. Официальная платформа для&nbsp;участников сообщества ADC. Здесь тебе помогут на&nbsp;пути к&nbsp;успеху 
        в&nbsp;креативных индустриях</p>
    </div>
    <div class="C_Buttons">
      <div class="A_Button">Поступление</div>
      <div class="A_Button">Что такое ADC?</div>
    </div>
  </div>
  <div class="W_2ColumnBlock">
    <div class="ImagesContainer">
      <img src="/uploads/creativehub.png" alt="">
    </div>
    <div class="C_Dots">
      <div class="A_Dot"></div>
      <div class="A_Dot"></div>
      <div class="A_Dot"></div>
    </div>
  </div>
</div>
<div class="section O_Opportunities">
  <h1 class="A_Title">С нами ты сможешь</h1>
  <div class="C_Row">
    <div class="W_HalfBlock">
      <p>Познакомиться 
        с&nbsp;крутыми специалистами</p>
      <p>Отличная возможность для развития и&nbsp;расширения своего профессионального круга</p>
    </div>
    <div class="W_HalfBlock">
      <p>Презентовать<br class="Mobile">
        себя<br class="Mobile">
        дизайн-индустрии</p>
      <p>Заяви о&nbsp;себе, как о&nbsp;классном 
        и&nbsp;востребованном специалисте дизайн-сообществу</p>
    </div>
  </div>
  <div class="W_CardFade">
    <img src="/uploads/fade.png" alt="">
    <div class="C_Row">
      <div class="W_Block">
        <h2>Получить оффер в&nbsp;классную компанию и&nbsp;стать её сотрудником</h2>
        <div class="A_Button">Хочу!</div>
      </div>
    </div>
  </div>
</div>
<div class="section O_Projects">
  <div class="C_Row">
    <div class="W_2ColumnBlock">
      <h2>Проекты</h2>
      <p>Поделитесь почтой для получения рассылки об улучшениях сервиса Поделитесь почтой для получения рассылки об улучшениях сервиса
        Поделитесь почтой для получения рассылки об улучшениях </p>
      <br>
      <p>Поделитесь почтой для получения рассылки об улучшениях  </p>
    </div>
    <div class="W_4ColumnBlock">
      <div class="A_Factoid">
        <img src="/uploads/8000.png" alt="">
      </div>
      <div class="C_Row">
        <div class="W_HalfBlock">
          <p>500+</p>
          <p>проектов на витрине</p>
        </div>
        <div class="W_HalfBlock">
          <p>500+</p>
          <p>проектов на витрине</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section O_Work">
  <h1 class="A_Title">Наши студенты работают</h1>
  <div class="C_Row">
    <div class="W_Block">
      <p>В ведущих IT- и&nbsp;digital-компаниях, в&nbsp;известных рекламных агентствах и&nbsp;дизайн-студиях</p>
      <div class="C_Row">
        <img class="A_CompanyLogo" src="/uploads/vk.svg" alt="">
        <img class="A_CompanyLogo" src="/uploads/sber.svg" alt="">
        <img class="A_CompanyLogo" src="/uploads/ozon.svg" alt="">
        <img class="A_CompanyLogo" src="/uploads/yandex.svg" alt="">
      </div>
      <div class="C_Row">
        <img class="A_CompanyLogo" src="/uploads/samolet.svg" alt="">
        <img class="A_CompanyLogo" src="/uploads/aic.svg" alt="">
        <img class="A_CompanyLogo" src="/uploads/practicum.svg" alt="">
        <img class="A_CompanyLogo" src="/uploads/mts.svg" alt="">
        <img class="A_CompanyLogo" src="/uploads/contented.svg" alt="">
        <img class="A_CompanyLogo" src="/uploads/esh.svg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="section O_Cards">
  <h2>Поможем запустить карьеру</h2>
  <p>Поделитесь почтой для получения рассылки об&nbsp;улучшениях сервиса Поделитесь почтой для&nbsp;получения рассылки об&nbsp;улучшениях сервиса</p>
  <div class="W_CardHolder">
    <img class="A_Card" src="/uploads/cards.png" alt="">
  </div>
</div>
<h1 class="A_Title">Поиск связей через<br>
  знакомых в&nbsp;компаниях</h1>
<div class="section network">
  <img class="U_Network" src="/uploads/network.png" alt="">
  <img class="U_Network Mobile"src="/uploads/networkMobile.png" alt="">
</div>
<div class="section O_Subscription">
  <div class="C_Row">
    <div class="W_HalfBlock">
      <h2>Короче, оффер: 
        ты&nbsp;нам контакты, 
        мы&nbsp;—&nbsp;полезную рассылку</h2>
      <p>Наши рассылки — это произведение искусства, 
        они&nbsp;стильные и&nbsp;информативные, так что смело подписывайтесь, спама не&nbsp;будет</p>
    </div>
    <div class="W_HalfBlock">
      <img src="/uploads/mail.png" alt="">
    </div>
  </div>
  <%= turbo_frame_tag @subscription do %>
    <%= render 'subscriptions/form', subscription: @subscription %>
  <% end %>
</div>
<div class="section O_Socials">
  <div class="W_CardFade">
    <img src="/uploads/fadeWhite.png" alt="">
    <div class="C_Row">
      <div class="W_Block">
        <div class="U_Paragraph">
          <h2>Наш TG канал</h2>
          <p>Наши рассылки — это произведение искусства, 
            они&nbsp;стильные и&nbsp;информативные, так что смело подписывайтесь, спама не&nbsp;будет</p>
        </div>
        <div class="A_Button">Открыть в Telegram</div>
      </div>
    </div>
  </div>
</div>
