<div>
  <div>Telegram канал с вакансиями</div>
  <div>
    <div>Подпишитесь на наш канал в телеграмме</div>
    <div>Оставайтесь в курсе последних обновлений по новым вакансиям и состоянии проекта в более  удобной форме</div>
  </div>
  <% EmploymentOpportunity.all.each do |x|%>
    <%= render x %>
  <%  end %>
</div>
