<div class="post_card">
  <% if image_post.link %>
    <%= image_tag image_post.link, class:["A_VerticallImage", "A_HorizontalImage", "A_SmallVerticallImage"].sample%>
  <% end %>
  <div class="textContainer">
    <a href="<%= admin_post_path(image_post) %>">
      <%= image_post.post_title %>
    </a>
  </div>
</div>
