<div class="SO_Vacancies">
  <div class="O_TelegramBanner">
    <div class="W_TelegramBannerContent">
      <div class="C_BannerContentText">
        <p class="A_BannerTitle">Наш TG-канал</p>
        <p class="A_BannerDesciption">Оставайтесь в курсе последних обновлений по новым вакансиям и состоянии проекта в более  удобной форме</p>
      </div>
      <a class="A_BannerLink" href="https://t.me/adcoffer">
        <p class="A_BannerLinkTitle">Telegram-канал</p>
        <img src="/uploads/link.svg" alt=""></a>
    </div>
  </div>
  <div>
    <%= link_to 'Add New Opportunity', new_employment_opportunity_path, class:'btn btn-primary' %>
    <div class="O_Vacancies">
      <% EmploymentOpportunity.all.each do |x|%>
        <%= render x %>
      <%  end %>
    </div>
  </div>
</div>
