<h1>New Employment Opportunity</h1>
<%= link_to 'Back to All Employment Opportunities', employment_opportunities_path, class: 'btn btn-secondary' %>
<%= render 'form', employment_opportunity: @employment_opportunity %>
<%= link_to 'Cancel', employment_opportunities_path, class: 'btn btn-warning' %>
