<div class="SO_VacancyPage">
  <div class="O_VacancyPageInfo">
    <div class="O_VacancyPageCard">
      <p></p>
      <div>
        <div>
          <div class="A_VacancyChips"></div>
          <% if @employment_opportunity.vacancy_type.present? %>
            <div class="A_VacancyChips Primary">
            </div>
          <% end %>
        </div>
        <p>Опубликована 3 дня назад</p>
      </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="O_VacancyCompanyInfo"></div>
</div>
