body {
  background-color: #0F0F0F;
  color: white;
}

.profile {
  margin-left: 100px;
  margin-bottom: 100px;
} 

.post {
  margin-left: 100px;
  margin-bottom: 100px;
} 

a{
  margin-left: 100px;
}

h1{
  margin-left: 100px;
}

h2{
  margin-left: 100px;
}