<div class="section O_Footer U_Fixed">
  <div class="W_FooterLinksAndInfo">
    <a class="A_FooterInfo">@ ADC (2023)</p>
    <div class="C_FooterLinks">
      <a class="A_FooterLink">О нас</a>
      <a class="A_FooterLink">Telegram канал</a>
      <a class="A_FooterLink">Поступление</a>
      <a class="A_FooterLink">Сотрудничество</a>
    </div>
  </div>
</div>
