<nav>
<div>
    <%= link_to "Home", welcome_index_url %>
    <%= link_to "About", welcome_about_url %>
    <%= link_to "Profiles", profiles_url %>
</div>
<div>
<%= render 'devise/shared/links' %>
</div>
</nav>
